* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: #B91450;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h1,h2 {
  text-transform: uppercase;
  color: white;
}

.ms_grey {
  background-color: grey;
}

h1 {
  padding: 30px 0;
}

/* form */
/* first row */
.form {
  background-color: white;
  max-width: 1000px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin-bottom: 30px;
}

.form .first-row {
  display: flex;
  justify-content: center;
}

.form .first-row .column {
  display: flex;
  flex-direction: column;
  padding: 0 30px 30px 30px;
}

.form .first-row .column label {
  color: #B91450;
  padding: 10px;
}

.form .first-row .column input,
.form .first-row .column select {
  border: 1px solid #B91450;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

input:focus,
select:focus {
  background-color: #B91450;
  color: white;
}
/* / first row */

/* second row */
.form .second-row button{
  color: #B91450;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 20px;
  margin: 5px;
}
/* / second row */
/* / form */

/* informazioni biglietto */
#biglietto {
  background-color: white;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

#biglietto h3 {
  text-transform: uppercase;
  text-align: left;
}

#biglietto hr {
  border: 1px solid grey;
}

#biglietto .informazioni {
  display: flex;
  justify-content: flex-start;
}

/* / informazioni biglietto */
